# Visual Studio / .NET Core
[Dd]ebug/
[Rr]elease/
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Databases & SQLite temporary files
*.db
*.db-wal
*.db-shm

# Node.js / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDEs & Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
